<div class="page-header">
  <h1>Clothing Details</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <img src="http://ak1.ostkcdn.com/images/mxc/120521_sportcoat.jpg">
  </div>
  <div class="col-md-8">
    <h3>The Sky Blue Blazer</h3>
    <p class="lead">$799</p>
    <p>A sports jacket is no longer your Dad's navy blazer.  Jiwani carries fabulous patterns and fabrics from Italy and England and then tailor makes it with an excellent array of linings to create that personal look.</p>
  </div>
</div>
